<div class="map-tooltip-wrapper">
	<div class="map-tooltip">
		<h5>{{campus}}, {{location.state}}</h5>
	{{#if status}}
		<h6 class="push-quarter--bottom gray">Coming Soon</h6>

		{{#if category}}
			<h6 class="color--info caps">{{category}}</h6>
			<p><small>{{categorySummary}}</small></p>
		{{/if}}

		{{#if launch}}
			<h6 class="flush">Launch Date</h6>
			<p><small>{{launch}}</small></p>
		{{/if}}
		{{#if phones}}
			<h6 class="flush">Contact</h6>
			<p><small>{{phones}}<br><a href="mailto:{{email}}">{{email}}</a></small></p>
		{{/if}}

	</div>
	{{else}}
		{{#if category}}
			<h6 class="color--info caps">{{category}}</h6>
			<p><small>{{categorySummary}}</small></p>
		{{/if}}

		{{#if location.street1}}
			<h6 class="flush">Address</h6>
			<p><small>{{#if location.name}}{{location.name}}<br>{{/if}}
			{{#if location.street1}}{{location.street1}}{{#if location.street2}}<br>{{/if}}{{/if}}
			{{#if location.street2}}{{location.street2}}{{/if}}<br>
			{{location.city}}, {{location.state}} {{location.zip}}{{#if directions}}<br><a href="{{directions}}">Get Directions</a>{{/if}}</small></p>
		{{/if}}

		{{#if services}}
			<h6 class="flush">Service Times</h6>
			<p><small>{{{services}}}</small></p>
		{{/if}}
		{{#if phones}}
			<h6 class="flush">Contact</h6>
			<p><small>{{phones}}<br><a href="mailto:{{email}}">{{email}}</a></small></p>
		{{/if}}
	</div>
		<a href="{{url}}" class="btn btn--square">More Details</a>
	{{/if}}
</div>
